{% extends 'base/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/academics.css' %}">
    <title>My Academics & Achievements</title>
{% endblock head %}

{% block content %}
    <div class="page">
        <div class="basic-info">
            <h1>My Academic Achievements</h1>
        </div>

        <div class="projects">
            {% for achievement in academic_achievements %}
                <div class="project_card">
                    <h1>{{ achievement.title }}</h1>
                    <img src="{{ achievement.cover_image.url }}" alt="{{ achievement.title }}'s cover image">
                    <p class="description">{{ achievement.cover_description }}</p>
                    <a href="/projects/{{ achievement.title }}/">
                        <button type="button" class="more-button">More ↗</button>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="basic-info">
            <h1>My Journey</h1>
        </div>


        <div class="timeline">
        {% for event in timeline_events %}
            <div class="timeline__component">
                <div class="timeline__date -right">
                    {{ event.Event_date_op }}
                </div>
            </div>
            <div class="timeline__middle">
                <div class="timeline__point"></div>
            </div>
            <div class="timeline__component timeline__component-bg">
                <h3 class="timeline__title -left">{{ event.Event_title }}</h3>
                <p class="timeline__para">
                    {{ event.Event_description }}
                </p>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}