{% extends 'base/base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock head %}


{% block content %}
    <div class="page">
        <div class="Introduction">
            <h1>I am {{ person.first_name }} {{ person.middle_name }} {{ person.last_name }}!</h1>
            <h2>Quite a passionate Developer, Designer, Engineer and much more! From Surat, India.</h2>
            <img src="{{ person.picture.url }}" alt="image of me with background removed">
        </div>
    </div>
{% endblock content %}