{% extends 'base/base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock head %}


{% block content %}
    <div class="page">
        <div class="Introduction">
            <h1>Hi, I am {{ person.first_name }} {{ person.middle_name }} {{ person.last_name }}!</h1>
            <h2>Passionate Developer, Designer, Engineer and much more from Surat, India.</h2>
            <img class="profile-image" src="{{ person.picture.url }}" alt="image of me with background removed">
            <h1>My Journey</h1>

            <div class="timeline">
{#                <div class="birth">#}
                {% for event in timeline_events %}
                    <div class="timeline__component">
                        <div class="timeline__date -right">
                            {{ event.Event_date_op }}
                        </div>
                    </div>
                    <div class="timeline__middle">
                        <div class="timeline__point"></div>
                    </div>
                    <div class="timeline__component timeline__component-bg">
                        <h3 class="timeline__title -left">{{ event.Event_title }}</h3>
                        <p class="timeline__para">
                            {{ event.Event_description }}
                        </p>
                    </div>
                {% endfor %}
{#                </div>#}
            </div>
        <div class="contact">
            <h1>Contact</h1>
            <p class="-center"><a href="tel:{{ person.phone }}">Phone: {{ person.phone }}</a></p>
            <p class="-center"><a href="mailto:{{ person.email }}">Email: {{ person.email }}</a></p>
        </div>
        </div>
    </div>
{% endblock content %}