{% extends 'base/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head %}

{% block content %}
{#    <h1>Hello world!</h1>#}
    <div class="page">
        <div class="Introduction">
            <h1>Hello, I am {{ person.first_name }} {{ person.last_name }}!</h1>
            <img src="{{ person.picture_background_removed.url }}" alt="image of me with background removed">
            <p class="-center">{{ homepageinfo.introduction_description }}</p>
            <div class="bottom_space"></div>
        </div>
    </div>
{% endblock content %}