body {
    font-family: "San Fransisco", sans-serif;
}

.timeline {
    margin: 0;
    width: 90%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 4px 3fr;
}

.timeline__component {
    margin: 0 12px 12px 12px;
}

.timeline__component-bg {
    padding: 1.5em;
    background: #3d40a6;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
    border-radius: 25px;
}

.timeline__title {
    font-family: "Abril FatFace", sans-serif;
    font-size: 150%;
    font-weight: 200;
    margin: 0 0 10px 0;
}

.timeline__para {
 margin: 0;
}

.-right {
    text-align: right;
}

.-left {
    text-align: left;
}

.timeline__middle {
    position: relative;
    background: antiquewhite;
}

.timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px; height: 20px;
    border-radius: 20px;
    background: antiquewhite;
}

.page {
    width: 95%;
    position: absolute;
    left: 50%; transform: translateX(-50%);
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 75px;
}

.basic-info {
    text-align: center;
}

.basic-info h1 {
    font-family: "Abril FatFace", sans-serif;
    font-weight: 200;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
}

.project_card {
    justify-items: center;
    text-align: center;
    height: auto;
    width: 500px;
    margin: 15px;
    backdrop-filter: blur(2px);
    /*background-color: #0d131f; !*7f96cc*!*/
    /*box-shadow: black 0 0 5px;*/
    /*flex: 0 1 24%;*/
    border-radius: 45px;
    background: #3d40a6;
    /*box-shadow: inset 20px 20px 60px #1a213a,*/
    /*        inset -20px -20px 60px #1b202f;*/
}

.project_card h1 {
    font-size: 3.2rem;
    font-family: "Abril FatFace", sans-serif;
    font-weight: 200;
    margin: 15px;
}

.project_card p {
    margin: 15px auto 15px auto;
    width: 75%;
}

.project_card img {
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 60px #1a213a;
}

.more-button {
    border: none; border-radius: 25px;
    height: 50px; width: 85%;
    background-color: #1b2033;
    /*box-shadow: #6c81ab 0 0 5px;*/
    margin: 5px 25px 25px 25px;
    color: antiquewhite;
}

.description {
    font-family: "San Fransisco", sans-serif;
}