@font-face {
    font-family: "San Fransisco";
    src: url("../font/SF Pro Display/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Playfair Display";
    src: url("../font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Abril FatFace";
    src: url("../font/Abril Fatface/AbrilFatface-Regular.ttf") format("truetype");
}
