.page {
    display: flex;
    position: absolute;
    width: 98%;
    left: 50%; top: 100px;
    transform: translate(-50%,0);
    margin-top: 20px;
    font-family: "San Fransisco", sans-serif;
    font-weight: 100;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.site_links_page {
    width: 47%;
    margin: 10px;
    justify-content: center;
}

.site_links_page h1 {
    font-size: 2rem;
}

.site_links {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.site_links a {
    font-size: 1.5rem;
    margin: 10px;
    text-align: center;
    width: 100%;
}

.social_links_page {
    width: 47%;
    margin: 10px 10px 150px 10px;
    justify-content: space-evenly;
}

.social_links_page h1 {
    font-size: 2rem;
}

.social_links_site {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.social_links_site a {
    margin: 10px;
    text-align: center;
    justify-items: center;
    width: 75%;
}

.social_links_site img {
    height: 7.5rem;
}