.projects {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 50%; top: 125px;
    transform: translate(-50%, 0);
    width: 100%;
    justify-content: space-evenly;
}

.project_card {
    justify-items: center;
    text-align: center;
    height: auto;
    width: 500px;
    margin: 15px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    background-color: #7f96cc;
    box-shadow: black 0 0 5px;
    /*flex: 0 1 24%;*/
}

.project_card h1 {
    font-size: 50px;
    font-family: "Abril FatFace", sans-serif;
    font-weight: 200;
    margin: 15px;
}

.project_card p {
    margin: 15px;
}

.project_card img {
    height: 150px;
    border-radius: 10px;
}

.more-button {
    border: none; border-radius: 15px;
    height: 50px; width: 80px;
    background-color: #4d6594;
    box-shadow: #6c81ab 0 0 5px;
    margin: 5px 25px 25px 25px;
}