{% extends 'base/base.html'%}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/project_showcase.css' %}">
    <title>Yaksh's Projects</title>
{% endblock head %}

{% block content %}
    <div class="page">
        <div class="basic-info">
            <h1>Here's all Projects, R&D & Work done over the years.</h1>
        </div>
        <div class="projects">
            {% for project in projects %}
                <div class="project_card">
                    <h1>{{ project.title }}</h1>
                    <img src="{{ project.cover_image.url }}" alt="{{ project.title }}'s cover image">
                    <p class="description">{{ project.description }}</p>
                    <a href="/projects/{{ project.title }}/">
                        <button type="button" class="more-button">More ↗</button>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
